
  @import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(/img/cow-img.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

.site-title{
    margin-left: 2%;
    font-family: 'DynaPuff', cursive;
}

#msg{
    display: none;
    background-color: black;
    position: absolute;
    color: whitesmoke;
    width: 30vw;
    text-align: center;
    left: 35%;
    border-radius: 0 0 20px 20px;
    padding: 1%;
}

/* .navbar{
    background-color: rgba(245, 47, 47, 0.821);
    width: 4vw;
    height: 45vw;
    border-radius: 50px;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: none;
}
.nav-item{
    display: flex;
    flex-direction: column;
    /* margin-left: 5%; */
/* }

.nav-item a{
    margin: 40%;
    color: black;
} */ 

.navbar-2{
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    
}

.nav-item-2{
    display: flex;
    gap: 3%;
    margin-right: 5%;
    /* margin-left: 5%; */
}

.nav-item-2 a{
    color: rgb(2, 2, 2);
    display: flex;
    gap: 8%;
    /* border: 1px solid; */
    width: 8vw;
    padding-top: 0.3%;
    padding-left: 0.5%;
    position: relative;
}

.nav-item-2 a:before{
    content: "";
    position: absolute;
    width: 90%;
    height: 1%;
    background-color: black;
    bottom: 0;
    /* left: 5%; */
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
}
.nav-item-2 a:hover::before{
    transform: scaleX(1);
    transition: 0.5s;
}

#home:before{
    content: "";
    position: absolute;
    width: 75%;
    height: 1%;
    background-color: black;
    bottom: 0;
    /* left: 5%; */
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
}
#home:hover::before{
    transform: scaleX(1);
    transition: 0.5s;
}
.name{
    margin-top: 3%;
}

#about-icon{
    font-size: 1.8vw;
}

#about-name{
    margin-left: 5%;
}

.nav-item-2 #about-icon{
    margin-left: 15%;
}

.container{
    /* margin-top: 3%; */
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: whitesmoke;
}

.container-item{
    display: flex;
    /* border: 1px solid; */
    width: 95vw;
    margin-left: 2.5%;
}

.img-slider{
    width: 50vw;
    height: 23vw;
    /* border: 1px solid; */
    border-radius: 10px;
    position: relative;
}

.img-slider img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}

.info{
    width: 30vw;
    margin-left: 10%;
    /* border: 1px solid; */
}

.info p{
    text-align: center;
    margin-top: 25%;
}

#title{
    font-family: 'Montserrat', sans-serif;
}

.container-2{
    margin-top: 10%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgba(175, 173, 173, 0.895);
    width: 90vw;
    margin-left: 5%;
    height: 44vw;
    /* height: auto; */
}

.container-2 h1{
    text-align: center;
}

.container-2-item{
    margin-left: 5%;
    height: 75%;
    display: flex;
    gap: 8%;
    margin-top: 3%;
}
#title{
    grid-area: "title";
}
.location{
    height: 100%;
    width: 40%;
}

.location img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.form-section{
    width: 50%;
}
form{
   display: flex;
   flex-direction: column;
}

label{
    margin-top: 3%;
}

input{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin-top: 2%;
    width: 45%;
    outline: none;
    padding-bottom: 1%;
}

:where(.mobile-no,.email,.no-cows) input{
    width: 90%;
}

.address{
    margin-top: 3%;
    display: grid;
    grid-template-areas: 
    "state city"
    "area street"
    "landmark landmark";
    /* gap: 2%; */
    grid-row-gap: 20%;
}
.address input{
    width: 80%;
}
#state{
    grid-area: state;
}

#city{
    grid-area: city;
}

#area{
    grid-area: area;
}

#street{
    grid-area: street;
}

#landmark{
    grid-area: landmark;
    width: 90%;
}

#submit{
    margin-top: 10%;
    border: 1px solid black;
    width: 20%;
    padding: 1% 2%;
    margin-left: 40%;
    transition: 0.3s;
}

#submit:hover{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.542);
    transition: 0.3s;
}

.container-3{
    background-color: rgba(175, 173, 173, 0.895);
    width: 90vw;
    margin-left: 5%;
    margin-top: 8%;
    border-radius: 20px;
    padding: 5%;
}

.container-3 h1{
    text-align: center;
}

.container-3 .adopt-info{
    margin-top: 3%;
}

#adopt{
    margin-top: 5%;
    padding: 0.5% 3%;
    background-color: transparent;
    border: 1px solid black;
    margin-left: 45%;
    transition: 0.3s;
}

#adopt:hover{
    background-color: black;
    color: whitesmoke;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.542);
}

.adoption-condition{
    width: 60%;
    /* background-color: rgba(0, 0, 0, 0.312); */
    margin-top: 5%;
    margin-left: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

:where(.condition-1,.condition-2,.condition-3){
    width: 90%;
    margin-top: 10%;
    padding-right: 2%;
}



:where(.condition-1,.condition-2,.condition-3) p{
    margin-top: 3%;
}

.adoption-form{
    display: none;
    background-color: rgb(0, 0, 0);
    width: 50vw;
    position: fixed;
    top: 20%;
    left: 25%;
    padding: 3%;
    color: whitesmoke;
    border-radius: 20px;
}

.adoption-form-name input{
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    width: 49%;
    padding: 0.5% 0;
}

.adoption-form-mobile input{
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    width: 99%;
    padding: 0.5% 0;
}

.adoption-form-email input{
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    width: 99%;
    padding: 0.5% 0;
}

#submit-btn{
    width: 18%;
    padding: 1% 0;
    margin-top: 5%;
    margin-left: 40%;
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid whitesmoke;
    transition: 0.3s;
}

#submit-btn:hover{
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    border-radius: 20px;
    
}

#close-btn{
    position: absolute;
    right: 5%;
    color: whitesmoke;
    background-color: transparent;
    border: none;
}

#close-btn{
    cursor: pointer;
}

.footer{
    text-align: center;
    background-color: rgba(175, 173, 173, 0.895);
    margin-top: 5%;
    padding: 2%;
}

.item-1 a{
    margin-right: 2%;
    color: black;
    
}

.item-2{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 2%;
}
:where(.facebook, .insta, .twitter){
    width: 2vw;
}

.item-3{
    margin-top: 2%;
}