*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg,white,rgb(255, 255, 255),rgba(0, 0, 0, 0.184));
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

.navbar{
    /* border: 1px solid; */
    height: 8.5vw;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    position:absolute;
    width: 20vw;
    height: 12vw;
    top:10%;
    right: 0;
    /* background-color: rgba(211, 209, 209, 0.413); */
    border-radius:0 60px;
    z-index: -1;
}

.logo img{
    width: 100%;
    margin-top: -30%; 
}

.navbar-icon{
    position: fixed;
    width: 25vw;
    height: 10vw;
    top: -2%;
    left: -10%;
    border: 1px solid;
    border-radius: 10px;
    transform: rotateZ(137deg);
    background-color: rgb(49, 50, 50);   
}

.address-form{
    margin-left: 5%;
}

.address-form form{
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-top: 2%;
}

input{
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10%;
    background: transparent;
    padding: 2%;
    outline: none;
}

#office{
    margin-left: 5%;
}

.confirm{
    position: absolute;
    padding: 2%;
    bottom: 0;
    display: flex;
    gap: 5%;
    justify-content: flex-end;
    width: 100vw;
    height:auto;
    /* border: 1px solid; */
}

#continue{
    /* margin-top: 5%;
    padding: 3%; */
    background-color: rgb(49, 50, 50);
    color: white;
    border: none;
    transition: 0.5s;
    font-size: 1vw;
    text-align: center;
    margin-right: 5%;
    padding: 0.5% 3%;
    font-size: 0.8vw;
}

#continue:hover{
    border-radius: 50px;
}

#continue:hover span{
    opacity: 1;
    transition: 0.3s;
}

#continue span{
    font-size: 1vw;
    opacity: 0;
    transition: 0.3s;
}

